@use "sass:math";
@import '../../../assets/styles/mixin.scss';

.input {
  padding: rem(4) rem(8) 0 0;
  border-bottom: rem(1) solid var(--main-black);
  font-size: rem(16);
  line-height: math.div(19, 16);

  &:focus {
    border-bottom: rem(1) solid #00c99a;
  }
}